<mat-toolbar class="nav-bar" color="primary">
  <img class="img-logo" src="assets/logo/logo.jpg" alt="Logo" />
  <div class="nav-container">
    <nav class="nav-links">
      <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-button routerLink="/about" routerLinkActive="active">About</a>
      <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>

      <a
        *ngIf="authService.isLoggedIn"
        mat-button
        routerLink="/album"
        routerLinkActive="active"
        >Album</a
      >

      <!-- Link per l'admin -->
      <a
        *ngIf="authService.userRole === 'admin'"
        mat-button
        routerLink="/admin"
        routerLinkActive="active"
        style="color: red"
        >Admin Dashboard</a
      >
    </nav>
  </div>

  <div class="logout-container">
    <button
      *ngIf="authService.isLoggedIn"
      mat-flat-button
      color="warn"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>

    <button
      *ngIf="!authService.isLoggedIn"
      mat-flat-button
      color="accent"
      routerLink="/login"
    >
      <mat-icon>login</mat-icon>
    </button>

    <button
      *ngIf="!authService.isLoggedIn"
      mat-flat-button
      color="primary"
      routerLink="/register"
    >
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
