<mat-toolbar class="nav-bar" color="primary">
  <img
    class="img-logo"
    src="assets/logo/logo.jpg"
    alt="Logo"
    (click)="navigateHomeOrToggleMenu()"
  />

  <div class="nav-container" *ngIf="!isMobile">
    <nav class="nav-links">
      <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-button routerLink="/about" routerLinkActive="active">About</a>
      <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>

      <a
        *ngIf="authService.isLoggedIn"
        mat-button
        routerLink="/album"
        routerLinkActive="active"
        >Album</a
      >

      <a
        *ngIf="authService.userRole === 'admin'"
        mat-button
        routerLink="/admin"
        routerLinkActive="active"
        style="color: red"
        >Admin Dashboard</a
      >
    </nav>
  </div>

  <!-- Menu Mobile -->
  <div *ngIf="isMobile && menuOpen" class="mobile-menu">
    <a mat-button routerLink="/home" (click)="toggleMenu()">Home</a>
    <a mat-button routerLink="/about" (click)="toggleMenu()">About</a>
    <a mat-button routerLink="/contact" (click)="toggleMenu()">Contact</a>

    <a
      *ngIf="authService.isLoggedIn"
      mat-button
      routerLink="/album"
      (click)="toggleMenu()"
      >Album</a
    >

    <a
      *ngIf="authService.userRole === 'admin'"
      mat-button
      routerLink="/admin"
      (click)="toggleMenu()"
      style="color: red"
      >Admin Dashboard</a
    >
  </div>

  <div class="logout-container">
    <button
      *ngIf="authService.isLoggedIn"
      mat-icon-button
      (click)="logout()"
      style="border-radius: 50%"
    >
      <mat-icon style="color: red">logout</mat-icon>
    </button>

    <button
      *ngIf="!authService.isLoggedIn"
      mat-icon-button
      routerLink="/login"
      style="border-radius: 50%"
    >
      <mat-icon style="color: green">login</mat-icon>
    </button>

    <button
      *ngIf="!authService.isLoggedIn"
      mat-icon-button
      routerLink="/register"
      style="border-radius: 50%"
    >
      <mat-icon style="color: blue">person_add_alt_1</mat-icon>
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
