<mat-toolbar class="nav-bar" color="primary">
  <img class="img-logo" src="assets/logo/logo.jpg" alt="Logo" />

  <div class="nav-container">
    <nav class="nav-links">
      <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-button routerLink="/about" routerLinkActive="active">About</a>
      <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
      <a mat-button routerLink="/album" routerLinkActive="active">Album</a>
    </nav>

    <button mat-icon-button (click)="menuOpen = !menuOpen" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="logout-container">
    <!-- Se l'utente è autenticato, mostra il pulsante Logout -->
    <button
      *ngIf="authService.isLoggedIn"
      mat-flat-button
      color="warn"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>

    <!-- Se l'utente NON è autenticato, mostra Login e Registrati -->
    <button
      *ngIf="!authService.isLoggedIn"
      mat-flat-button
      color="accent"
      routerLink="/login"
    >
      <mat-icon>login</mat-icon>
    </button>

    <button
      *ngIf="!authService.isLoggedIn"
      mat-flat-button
      color="primary"
      routerLink="/register"
    >
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
