/* General navbar styling */
.nav-bar {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: #1463b9;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

/* Navbar links container */
.nav-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

/* Navbar links styling */
.nav-links {
  display: flex;
  gap: 30px;
  text-align: center;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* Logout button container */
.logout-container {
  margin-left: auto;
}

/* Stile base per i pulsanti */
/* Contenitore dei pulsanti */
.logout-container {
  display: flex;
  gap: 10px; /* Distanza tra i pulsanti */
  align-items: center;
  margin-left: auto;
}

/* Stile base per i pulsanti */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  outline: none;
  gap: 8px;
}

/* Pulsante Logout - ROSSO */
button[color="warn"] {
  background-color: transparent;
  color: red;
}

button[color="warn"]:hover {
  background-color: rgba(211, 47, 47, 0.1);
}

/* Pulsante Login - ROSA */
button[color="accent"] {
  background-color: transparent;
  color: rgb(0, 253, 0);
}

button[color="accent"]:hover {
  background-color: rgba(255, 64, 129, 0.1);
}

/* Pulsante Registrati - VERDE */
button[color="primary"] {
  background-color: transparent;
  color: white;
}

button[color="primary"]:hover {
  background-color: rgba(76, 175, 80, 0.1);
}

/* Effetto su mobile */
@media (max-width: 768px) {
  button {
    width: auto;
    padding: 8px 12px;
  }
}

/* Menu button (visible only on mobile) */
.menu-button {
  display: none;
}

/* Mobile menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  background: #3f51b5;
  padding: 10px;
}

/* Mobile menu links styling */
.mobile-menu a {
  color: white;
  padding: 10px;
}

/* Logo styling */
.img-logo {
  width: 5vh;
  height: 5vh;
  border-radius: 30px;
  cursor: pointer;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }
}
