/* Text style */
h1,
h2,
h3,
h4,
p {
  font-family: "Open Sans", sans-serif;
}

/* Hero Image Section */
.top-image {
  position: relative;
  width: 100%;
  height: 100vh;
}

.top-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 8vh;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeInUp 1.5s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.blue-word {
  color: #243f7a;
}

/* General Container */
.home-container {
  text-align: center;
}

/* Reviews Section */
.reviews-container {
  text-align: center;
  padding: 5vh 10vw;
  background-color: white;
  background-color: white;
  border-radius: 80px;
  margin: 4vh;
}

.reviews {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.review-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.review-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.review-author {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}

/* Card Section */
.card-container {
  text-align: center;
  padding: 10vh 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 80px;
  margin: 4vh;
}

.section-title {
  color: #243f7a;
}

/* Card Grid */
.card-grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Card */

.card {
  width: 250px;
  height: 300px;
  perspective: 1000px; /* Effetto 3D */
  cursor: pointer;
}

/* card flip*/
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* Card flipped */
.card-inner.flipped {
  transform: rotateY(180deg);
}

/* Card front and back */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-back button {
  margin-top: auto; /* Spinge il bottone verso il basso */
  color: #1463b9;
  background-color: white;
}
.card-back p {
  margin-bottom: 20px; /* Distanza tra il testo e il bottone */
}
/* Card Front */
.card-front {
  background: white;
  display: flex;
  flex-direction: column;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

/* Card back */
.card-back {
  background: #007bff;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1rem;
}

/* Button Styling */
.info-button {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

button {
  background-color: #007bff;
  color: white;
  padding: 1.5vh 3vw;
  font-size: 2vh;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 10vh;
}

button:hover {
  background-color: #0056b3;
}

/* Text Banner Styling */
.text-title {
  background-color: #2970db;
  border: none;
  margin: none;
  color: white;
}

.third-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-title {
  text-align: center;
}

/* Banner Spacing */
.first-banner-container {
  margin-bottom: 10vh;
}

.second-banner-container {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.text-container {
  padding: 3vh;
}

/* Media Query per schermi più piccoli */
@media screen and (max-width: 1024px) {
  mat-grid-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 768px) {
  mat-grid-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media screen and (max-width: 768px) {
  .card-grid {
    flex-direction: column;
    align-items: center;
  }
}
